:root {
    --brand-icon-google: url("https://cdn.brandfetch.io/id6O2oGzv-/theme/dark/idBP5ltu-a.svg?c=1bxid64Mup7aczewSAYMX&t=1755572774052");
    --brand-icon-linkedin: url("https://cdn.brandfetch.io/idJFz6sAsl/theme/dark/symbol.svg?c=1bxid64Mup7aczewSAYMX&t=1740371012665");
    --brand-icon-github-light: url("https://cdn.brandfetch.io/idZAyF9rlg/theme/dark/symbol.svg?c=1bxid64Mup7aczewSAYMX&t=1719469980739");
    --brand-icon-github-dark: url("https://cdn.brandfetch.io/idZAyF9rlg/theme/light/symbol.svg?c=1bxid64Mup7aczewSAYMX&t=1719469980826");
    --brand-icon-github: var(--brand-icon-github-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --brand-icon-github: var(--brand-icon-github-dark);
    }
}
